<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <script src="app.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="MyApp" ng-cloak>

<div ng-controller="testCtrl">
  <div flex-offset="15" flex="70" layout="column">
  <div class="chipsdemoBasicUsage">

    <md-content class="md-padding" layout="column">
      <h2 class="md-title">Saisissez vos aliments 🍎🥦🍗</h2>
      <md-chips id="test" ng-model="tags" readonly="readonly" md-removable="removable" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+Tag"></md-chips>
    </md-content>
  </div>


    <md-button md-no-ink class="md-raised md-primary" ng-click="submit()" flex="auto" style="margin-bottom:80px">Submit</md-button>


    <display-r recette='recette' ng-repeat="recette in recettes"></display-r>
  </div>
</div>



<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->
